@import url("https://fonts.googleapis.com/css2?family=Anta&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  cursor: pointer;
}

#main-section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1.5rem;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
  height: fit-content;
  min-height: 100vh;
  @media (min-width: 400px) {
    gap: 2rem;
  }
}

#profile-section,
#social-section,
#about-section,
#product-section {
  height: auto;
  width: 100vw;
}

#social-inner,
#about-inner,
#product-inner,
#prod-card {
  height: auto;
  width: 98vw;
  max-width: 1170px;
  margin: auto;
}

#profile-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 98vw;
  height: auto;
  min-height: 180px;
  max-height: 200px;
  max-width: 1170px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0.5rem;
  margin: auto;
}

#social-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-inner {
  display: flex;
  width: 96vw;
  max-width: 1170px;
  /* justify-content: center; */
  flex-wrap: wrap !important;
  align-items: center;
  margin: auto;
}

.social-a {
  width: 70px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: auto;
  text-decoration: none;
  color: #000;
}

.social-a i {
  cursor: pointer;
  font-size: 30px !important;
}

.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: auto;
}

.h1-about,
.p-about {
  font-optical-sizing: auto;
  font-size: 18px !important;
  font-weight: 400;
  font-style: normal;
  margin: unset;
  width: 96vw;
  max-width: 1130px;
  height: auto;
  text-align: center;
  @media (min-width: 478px) {
    font-size: 28px !important;
  }
}

.p-about {
  font-size: 16px !important;
  @media (min-width: 478px) {
    font-size: 26px !important;
  }
}

.product-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#prod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.3rem 1rem;
  border-radius: 15px;
  background-color: #eadfd7;
  @media (min-width: 767px) {
    flex-direction: row;
    padding: 2rem;
  }
}

#prod-card .video {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 250px;
  @media (min-width: 400px) {
    max-width: 685px;
    max-height: 386px;
  }
  @media (min-width: 767px) {
    max-width: 213px;
    max-height: 120px;
  }
}

.text-sec {
  width: 100%;
  max-width: 848px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  gap: 1rem;
  @media (min-width: 767px) {
    width: 80%;
  }
}

.text-sec h2 {
  font-size: 25px !important;
  font-weight: 700;
  @media (max-width: 400px) {
    font-size: 23px !important;
  }
}

.text-sec p {
  font-size: 23px !important;
  font-weight: 500;
  @media (max-width: 400px) {
    font-size: 20px !important;
  }
}

.text-sec button {
  color: #000;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 0;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  text-transform: none;
  text-shadow: 0 0 0 transparent;
  background: linear-gradient(to left, transparent 50%, #000 50%);
  background-position: 100%; /* Starts with color on the right */
  transition: background-position 0.3s ease-in-out;
  background-size: 200%;
  cursor: pointer;
  border: 2px solid #000;
  font-family: 18px;
  @media (min-width: 767px) {
    font-family: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .text-sec button:hover {
    background-position: 0;
    color: #fff;
    cursor: pointer;
 } 
}
